:host {
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 2px #ccc;
    margin: 20px 0;
    padding: 20px;
}

.form-control {
    display: inline-block;
    width: 50%;
}

.active{
    background-color: green;
}

.inactive {
    background-color: #ccc;
}

.critical{
    background-color: red;
}
:host(.inactive) {
  color: #ccc;
}